<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Allergies</key>
	<array>
		<dict>
			<key>HealthItemName</key>
			<string>Allergies</string>
			<key>HealthItemType</key>
			<string>Header</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Antibiotics</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Metals</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Soaps</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Latex</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Alcohol</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Cosmetics</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Adhesives</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Petroleum</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Lanolin Oil</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Lidocaine</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Shellfish</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
	</array>
	<key>Diseases</key>
	<array>
		<dict>
			<key>HealthItemName</key>
			<string>Diseases</string>
			<key>HealthItemType</key>
			<string>Header</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Hepatitis</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Tuberculosis</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Gonorrhea</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Syphilis</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>HIV / AIDS</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Herpes</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Staph</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Auto-immunity</string>
			<key>HealthItemType</key>
			<string>Text</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Asthma</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Infections</string>
			<key>HealthItemType</key>
			<string>Text</string>
		</dict>
	</array>
	<key>Health Conditions</key>
	<array>
		<dict>
			<key>HealthItemName</key>
			<string>Health Conditions</string>
			<key>HealthItemType</key>
			<string>Header</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Heart Disease</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>High Blood Pressure</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Diabetes</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Pregnant</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Prone to Faintness</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Skin Disease / Rash</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Epilepsy</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Hemophilia</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Prone to Scarring / Keloiding</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Psoriasis</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Blood Thinners</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Eczema</string>
			<key>HealthItemType</key>
			<string>Segment</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Other (specify)</string>
			<key>HealthItemType</key>
			<string>Text-only</string>
		</dict>
		<dict>
			<key>HealthItemName</key>
			<string>Medications</string>
			<key>HealthItemType</key>
			<string>Text</string>
		</dict>
	</array>
</dict>
</plist>
