<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>supportingdocument0</key>
	<string>LEGAL GUARDIAN ID</string>
	<key>supportingdocument1</key>
	<string>BIRTH CERTIFICATE</string>
	<key>supportingdocument2</key>
	<string>ADD A SECOND ID</string>
	<key>supportingdocument3</key>
	<string>SECOND GOVERNMENT ID PICTURE</string>
</dict>
</plist>
