<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192027326324-sqa4c8g3r4lqu8hmukun1iacmpnr9tde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192027326324-sqa4c8g3r4lqu8hmukun1iacmpnr9tde</string>
	<key>API_KEY</key>
	<string>AIzaSyCnr18TnCqILIZmflB7kZwbm7OpwOcPXDo</string>
	<key>GCM_SENDER_ID</key>
	<string>192027326324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VolutaDigital.CRF</string>
	<key>PROJECT_ID</key>
	<string>voluta-digital</string>
	<key>STORAGE_BUCKET</key>
	<string>voluta-digital.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192027326324:ios:a3591704961a6b3b</string>
	<key>DATABASE_URL</key>
	<string>https://voluta-digital.firebaseio.com</string>
</dict>
</plist>