<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1.0</key>
	<array>
		<string>Welcome to Piercing Release Forms! Tap on the gear below to go into the settings for the initial setup.</string>
	</array>
</dict>
</plist>
