<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Defaults0</key>
	<dict>
		<key>v1key</key>
		<string>orientation-key</string>
		<key>v2key</key>
		<string></string>
	</dict>
	<key>Defaults1</key>
	<dict>
		<key>v1key</key>
		<string>isRequiringSecondGovernmentID</string>
		<key>v2key</key>
		<string>require-second-govt-pic-key</string>
	</dict>
	<key>Defaults2</key>
	<dict>
		<key>v1key</key>
		<string>initial-popup-enable</string>
		<key>v2key</key>
		<string>initial-popup-key</string>
	</dict>
	<key>Defaults3</key>
	<dict>
		<key>v1key</key>
		<string>initial-popup-text</string>
		<key>v2key</key>
		<string>initial-popup-text-key</string>
	</dict>
	<key>Defaults4</key>
	<dict>
		<key>v1key</key>
		<string>isUsingAdditionalForm</string>
		<key>v2key</key>
		<string>using-additional-form-key</string>
	</dict>
	<key>Defaults5</key>
	<dict>
		<key>v1key</key>
		<string>isUsingAdditionalFormPopup</string>
		<key>v2key</key>
		<string>additional-form-required-key</string>
	</dict>
	<key>Defaults6</key>
	<dict>
		<key>v1key</key>
		<string>additionalFormFileName</string>
		<key>v2key</key>
		<string>additional-form-filename-key</string>
	</dict>
	<key>Defaults7</key>
	<dict>
		<key>v1key</key>
		<string>isAppendingAdditionalForm</string>
		<key>v2key</key>
		<string>is-appending-add-form-key</string>
	</dict>
	<key>Defaults8</key>
	<dict>
		<key>v1key</key>
		<string>studio-name-key</string>
		<key>v2key</key>
		<string>business-name-key</string>
	</dict>
	<key>Defaults9</key>
	<dict>
		<key>v1key</key>
		<string>studio-legal-name-key</string>
		<key>v2key</key>
		<string>legal-name-key</string>
	</dict>
	<key>Defaults10</key>
	<dict>
		<key>v1key</key>
		<string>studio-address-key</string>
		<key>v2key</key>
		<string>business-address-key</string>
	</dict>
	<key>Defaults11</key>
	<dict>
		<key>v1key</key>
		<string>studio-phone-number-key</string>
		<key>v2key</key>
		<string>business-phonenumber-key</string>
	</dict>
	<key>Defaults12</key>
	<dict>
		<key>v1key</key>
		<string>studio-website-key</string>
		<key>v2key</key>
		<string>business-website-key</string>
	</dict>
	<key>Defaults13</key>
	<dict>
		<key>v1key</key>
		<string>studio-email-key</string>
		<key>v2key</key>
		<string>business-email-key</string>
	</dict>
	<key>Defaults14</key>
	<dict>
		<key>v1key</key>
		<string>studio-codes-key</string>
		<key>v2key</key>
		<string>local-codes-key</string>
	</dict>
	<key>Defaults15</key>
	<dict>
		<key>v1key</key>
		<string>hasLogo</string>
		<key>v2key</key>
		<string>using-logo-key</string>
	</dict>
	<key>Defaults16</key>
	<dict>
		<key>v1key</key>
		<string>slideshow-album</string>
		<key>v2key</key>
		<string>slideshow-album-key</string>
	</dict>
	<key>Defaults17</key>
	<dict>
		<key>v1key</key>
		<string>slideshow-timeout</string>
		<key>v2key</key>
		<string>slideshow-timeout-key</string>
	</dict>
	<key>Defaults18</key>
	<dict>
		<key>v1key</key>
		<string>slideshow-delay</string>
		<key>v2key</key>
		<string>slideshow-delay-key</string>
	</dict>
	<key>Defaults19</key>
	<dict>
		<key>v1key</key>
		<string>forcedEmail</string>
		<key>v2key</key>
		<string>forcing-email-key</string>
	</dict>
	<key>Defaults20</key>
	<dict>
		<key>v1key</key>
		<string>log-key</string>
		<key>v2key</key>
		<string>using-datalogger-key</string>
	</dict>
    <key>Defaults21</key>
    <dict>
        <key>v1key</key>
        <string>studio-city-key</string>
        <key>v2key</key>
        <string>business-city-key</string>
    </dict>
    <key>Defaults22</key>
    <dict>
        <key>v1key</key>
        <string>studio-state-key</string>
        <key>v2key</key>
        <string>business-state-key</string>
    </dict>
    <key>Defaults23</key>
    <dict>
        <key>v1key</key>
        <string>studio-zipcode-key</string>
        <key>v2key</key>
        <string>business-zipcode-key</string>
    </dict>
</dict>
</plist>
