<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rule0</key>
	<string>Remain in your designated Pod while the spacecraft is in transit.</string>
	<key>rule1</key>
	<string>Follow the provided resource usage guidelines provided by your commander. Further resources will not be administered.</string>
	<key>rule2</key>
	<string>Follow any and all instructions given by your commander. In case of emergencies, remain calm and properly communicate with your commander.</string>
</dict>
</plist>
