<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>legal0</key>
	<string>Pre and post-care instructions have been explained to me and a written copy has been given to me to retain in my possession, which I will follow to the best of my ability. If I have questions, I will call or email you.</string>
	<key>legal1</key>
	<string>I understand that a certain amount of discomfort is associated with this procedure, and that swelling, redness and bruising may occur.</string>
	<key>legal2</key>
	<string>I understand that Retin A, Renova, Alpha Hydroxy and Glycolic Acids must not be used on treated areas. They will alter the color and cause premature exfoliation of the pigment.</string>
	<key>legal3</key>
	<string>I understand that tanning beds, pools, some skin care products and medications can affect my permanent makeup.</string>
	<key>legal4</key>
	<string>I understand that successful color saturation can NOT be guaranteed due to hidden scar tissue.</string>
	<key>legal5</key>
	<string>I will tell all skin care professionals or medical personnel about my permanent makeup procedures, especially if I am scheduled for an MRI.</string>
	<key>legal6</key>
	<string>I accept the responsibility to explain to you by desire for specific colors, shape, and position for any procedure done today.</string>
	<key>legal7</key>
	<string>I understand that implanted pigment color can slightly change or fade over time due to circumstances beyond your control, and I will need to maintain the color with future applications and a touch-­­up session within 60 days.</string>
	<key>legal8</key>
	<string>I acknowledge that the proposed procedures(s) involve risks inherent in the procedure, and have possibilities of complications during and/or following the procedures such as: infection, misplaced pigment, poor color retention and hyper-­­pigmentation.</string>
	<key>legal9</key>
	<string>I have been quoted the cost of today’s appointment, and the cost of the touch-­­up. Touch-­­ups must be completed within 60 days of initial procedure to be considered a touch-­­up price.</string>
	<key>legal10</key>
	<string>I am over the age of 18, am not under the influence of drugs or alcohol, am not pregnant or nursing and desire to receive the indicated permanent cosmetic procedure. </string>
	<key>legal11</key>
	<string>I acknowledge it is not reasonably possible for the associated to determine whether I might have an allergic reaction to the dyes, pigments, or processes used in my microblading and I agree to accept that such risks are possible.</string>
	<key>legal12</key>
	<string>I acknowledge that there is a chance I might feel lightheaded, dizzy during or after being microbladed. I agree to immediately notify the aesthetician in the event I feel lightheaded, dizzy and/or faint before, during or after the procedure.</string>
	<key>legal13</key>
	<string>I understand that if I have any skin treatments, laser hair removal, plastic surgery or other skin altering procedures, it may result in adverse changes to my permanent cosmetics. I acknowledge some of these potential adverse changes may not be correctable.</string>
	<key>legal14</key>
	<string>I understand that the taking of before and after photographs of the said procedure(s) are a condition of such procedure(s). I certify I have read and initialed the above paragraphs and have had explained to my understanding this consent and procedure permit. I accept full responsibility for the decision to have this cosmetic tattoo work done.</string>
    <key>legal15</key>
    <string>I acknowledge that microblading is a semi-permanent change to my appearance and that no representations have been made to me as to the ability to later change, alter or remove my microblading.</string>
</dict>
</plist>
